{"openapi":"3.0.0","info":{"title":"AssembledView - 2.0","description":"","version":"1.0.0"},"servers":[{"url":"https://xg4h-uyzs-dtex.a2.xano.io"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"paths":{"/api:LDTsOeIt/auth/login":{"post":{"operationId":"Authentication/auth/login|POST","summary":"Login and retrieve an authentication token","description":"Login and retrieve an authentication token\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["auth"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"authToken":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"","format":"email"},"password":{"type":"string","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"","format":"email"},"password":{"type":"string","description":""}}}}}}}},"/api:LDTsOeIt/auth/me":{"get":{"operationId":"Authentication/auth/me|GET","summary":"Get the user record belonging to the authentication token","description":"Get the user record belonging to the authentication token\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["auth"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:LDTsOeIt/auth/signup":{"post":{"operationId":"Authentication/auth/signup|POST","summary":"Signup and retrieve an authentication token","description":"Signup and retrieve an authentication token\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["auth"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"authToken":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"password":{"type":"string","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"password":{"type":"string","description":""}}}}}}}},"/api:YkRK8qLP/edit_publishers/{publishers_id}":{"put":{"operationId":"Publishers/edit_publishers/{publishers_id}|PUT","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["edit_publishers"],"security":[],"parameters":[{"name":"publishers_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:YkRK8qLP/get_publishers":{"get":{"operationId":"Publishers/get_publishers|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["get_publishers"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:YkRK8qLP/media_container_best_practice/{media_container_best_practice_id}":{"delete":{"operationId":"Publishers/media_container_best_practice/{media_container_best_practice_id}|DELETE","summary":"Delete media_container_best_practice record","description":"Delete media_container_best_practice record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["media_container_best_practice"],"security":[],"parameters":[{"name":"media_container_best_practice_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Publishers/media_container_best_practice/{media_container_best_practice_id}|GET","summary":"Get media_container_best_practice record","description":"Get media_container_best_practice record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["media_container_best_practice"],"security":[],"parameters":[{"name":"media_container_best_practice_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Publishers/media_container_best_practice/{media_container_best_practice_id}|PATCH","summary":"Edit media_container_best_practice record","description":"Edit media_container_best_practice record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["media_container_best_practice"],"security":[],"parameters":[{"name":"media_container_best_practice_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Publishers/media_container_best_practice/{media_container_best_practice_id}|PUT","summary":"Update media_container_best_practice record","description":"Update media_container_best_practice record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["media_container_best_practice"],"security":[],"parameters":[{"name":"media_container_best_practice_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:YkRK8qLP/media_container_best_practice":{"get":{"operationId":"Publishers/media_container_best_practice|GET","summary":"Query all media_container_best_practice records","description":"Query all media_container_best_practice records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["media_container_best_practice"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Publishers/media_container_best_practice|POST","summary":"Add media_container_best_practice record","description":"Add media_container_best_practice record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["media_container_best_practice"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:YkRK8qLP/post_publishers":{"post":{"operationId":"Publishers/post_publishers|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["post_publishers"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:YkRK8qLP/publisher_kpi/{publisher_kpi_id}":{"delete":{"operationId":"Publishers/publisher_kpi/{publisher_kpi_id}|DELETE","summary":"Delete publisher_kpi record","description":"Delete publisher_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publisher_kpi"],"security":[],"parameters":[{"name":"publisher_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Publishers/publisher_kpi/{publisher_kpi_id}|GET","summary":"Get publisher_kpi record","description":"Get publisher_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publisher_kpi"],"security":[],"parameters":[{"name":"publisher_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Publishers/publisher_kpi/{publisher_kpi_id}|PATCH","summary":"Edit publisher_kpi record","description":"Edit publisher_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publisher_kpi"],"security":[],"parameters":[{"name":"publisher_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Publishers/publisher_kpi/{publisher_kpi_id}|PUT","summary":"Update publisher_kpi record","description":"Update publisher_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publisher_kpi"],"security":[],"parameters":[{"name":"publisher_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:YkRK8qLP/publisher_kpi":{"get":{"operationId":"Publishers/publisher_kpi|GET","summary":"Query all publisher_kpi records","description":"Query all publisher_kpi records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publisher_kpi"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Publishers/publisher_kpi|POST","summary":"Add publisher_kpi record","description":"Add publisher_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publisher_kpi"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:YkRK8qLP/publishers/{publishers_id}":{"delete":{"operationId":"Publishers/publishers/{publishers_id}|DELETE","summary":"Delete publishers record","description":"Delete publishers record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publishers"],"security":[],"parameters":[{"name":"publishers_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Publishers/publishers/{publishers_id}|GET","summary":"Get publishers record","description":"Get publishers record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publishers"],"security":[],"parameters":[{"name":"publishers_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Publishers/publishers/{publishers_id}|PATCH","summary":"Edit publishers record","description":"Edit publishers record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publishers"],"security":[],"parameters":[{"name":"publishers_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Publishers/publishers/{publishers_id}|PUT","summary":"Update publishers record","description":"Update publishers record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publishers"],"security":[],"parameters":[{"name":"publishers_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:YkRK8qLP/publishers":{"get":{"operationId":"Publishers/publishers|GET","summary":"Query all publishers records","description":"Query all publishers records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publishers"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Publishers/publishers|POST","summary":"Add publishers record","description":"Add publishers record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["publishers"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/campaign_kpi/{campaign_kpi_id}":{"delete":{"operationId":"Clients/campaign_kpi/{campaign_kpi_id}|DELETE","summary":"Delete campaign_kpi record","description":"Delete campaign_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_kpi"],"security":[],"parameters":[{"name":"campaign_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/campaign_kpi/{campaign_kpi_id}|GET","summary":"Get campaign_kpi record","description":"Get campaign_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_kpi"],"security":[],"parameters":[{"name":"campaign_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Clients/campaign_kpi/{campaign_kpi_id}|PATCH","summary":"Edit campaign_kpi record","description":"Edit campaign_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_kpi"],"security":[],"parameters":[{"name":"campaign_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Clients/campaign_kpi/{campaign_kpi_id}|PUT","summary":"Update campaign_kpi record","description":"Update campaign_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_kpi"],"security":[],"parameters":[{"name":"campaign_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/campaign_kpi":{"get":{"operationId":"Clients/campaign_kpi|GET","summary":"Query all campaign_kpi records with optional filters and external pagination","description":"Query all campaign_kpi records with optional filters and external pagination\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_kpi"],"security":[],"parameters":[{"name":"mba_number","in":"query","description":"Mirrors the field name in the campaign_kpi table","required":false,"schema":{"type":"string","default":""}},{"name":"version_number","in":"query","description":"Mirrors the version_number column type","required":false,"schema":{"type":"integer","format":"int64","default":"0"}},{"name":"page","in":"query","description":"Standard Xano pagination input","required":false,"schema":{"type":"integer","format":"int64","default":"1"}},{"name":"per_page","in":"query","description":"Matches the page size used by fetchAllXanoPages","required":false,"schema":{"type":"integer","format":"int64","default":"200"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/campaign_kpi|POST","summary":"Add campaign_kpi record","description":"Add campaign_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_kpi"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/client_kpi/{client_kpi_id}":{"delete":{"operationId":"Clients/client_kpi/{client_kpi_id}|DELETE","summary":"Delete client_kpi record","description":"Delete client_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["client_kpi"],"security":[],"parameters":[{"name":"client_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/client_kpi/{client_kpi_id}|GET","summary":"Get client_kpi record","description":"Get client_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["client_kpi"],"security":[],"parameters":[{"name":"client_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Clients/client_kpi/{client_kpi_id}|PATCH","summary":"Edit client_kpi record","description":"Edit client_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["client_kpi"],"security":[],"parameters":[{"name":"client_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Clients/client_kpi/{client_kpi_id}|PUT","summary":"Update client_kpi record","description":"Update client_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["client_kpi"],"security":[],"parameters":[{"name":"client_kpi_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/client_kpi":{"get":{"operationId":"Clients/client_kpi|GET","summary":"Query all client_kpi records","description":"Query all client_kpi records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["client_kpi"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/client_kpi|POST","summary":"Add client_kpi record","description":"Add client_kpi record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["client_kpi"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/clients/{clients_id}":{"delete":{"operationId":"Clients/clients/{clients_id}|DELETE","summary":"Delete clients record","description":"Delete clients record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["clients"],"security":[],"parameters":[{"name":"clients_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/clients/{clients_id}|GET","summary":"Get clients record","description":"Get clients record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["clients"],"security":[],"parameters":[{"name":"clients_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Clients/clients/{clients_id}|PATCH","summary":"Edit clients record","description":"Edit clients record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["clients"],"security":[],"parameters":[{"name":"clients_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Clients/clients/{clients_id}|PUT","summary":"Update clients record","description":"Update clients record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["clients"],"security":[],"parameters":[{"name":"clients_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/clients":{"get":{"operationId":"Clients/clients|GET","summary":"Query all clients records","description":"Query all clients records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["clients"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/clients|POST","summary":"Add clients record","description":"Add clients record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["clients"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/creative_asset/{creative_asset_id}":{"delete":{"operationId":"Clients/creative_asset/{creative_asset_id}|DELETE","summary":"Delete creative_asset record","description":"Delete creative_asset record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["creative_asset"],"security":[],"parameters":[{"name":"creative_asset_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/creative_asset/{creative_asset_id}|GET","summary":"Get creative_asset record","description":"Get creative_asset record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["creative_asset"],"security":[],"parameters":[{"name":"creative_asset_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Clients/creative_asset/{creative_asset_id}|PATCH","summary":"Edit creative_asset record","description":"Edit creative_asset record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["creative_asset"],"security":[],"parameters":[{"name":"creative_asset_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Clients/creative_asset/{creative_asset_id}|PUT","summary":"Update creative_asset record","description":"Update creative_asset record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["creative_asset"],"security":[],"parameters":[{"name":"creative_asset_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/creative_asset":{"get":{"operationId":"Clients/creative_asset|GET","summary":"Query all creative_asset records","description":"Query all creative_asset records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["creative_asset"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"mba_number","in":"query","description":"","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/creative_asset|POST","summary":"Add creative_asset record","description":"Add creative_asset record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["creative_asset"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/finance_billing_line_items/{finance_billing_line_items_id}":{"delete":{"operationId":"Clients/finance_billing_line_items/{finance_billing_line_items_id}|DELETE","summary":"Delete finance_billing_line_items record","description":"Delete finance_billing_line_items record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_line_items"],"security":[],"parameters":[{"name":"finance_billing_line_items_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/finance_billing_line_items/{finance_billing_line_items_id}|GET","summary":"Get finance_billing_line_items record","description":"Get finance_billing_line_items record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_line_items"],"security":[],"parameters":[{"name":"finance_billing_line_items_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Clients/finance_billing_line_items/{finance_billing_line_items_id}|PATCH","summary":"Edit finance_billing_line_items record","description":"Edit finance_billing_line_items record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_line_items"],"security":[],"parameters":[{"name":"finance_billing_line_items_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Clients/finance_billing_line_items/{finance_billing_line_items_id}|PUT","summary":"Update finance_billing_line_items record","description":"Update finance_billing_line_items record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_line_items"],"security":[],"parameters":[{"name":"finance_billing_line_items_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/finance_billing_line_items":{"get":{"operationId":"Clients/finance_billing_line_items|GET","summary":"Query all finance_billing_line_items records","description":"Query all finance_billing_line_items records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_line_items"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/finance_billing_line_items|POST","summary":"Add finance_billing_line_items record","description":"Add finance_billing_line_items record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_line_items"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/finance_billing_records/{finance_billing_records_id}":{"delete":{"operationId":"Clients/finance_billing_records/{finance_billing_records_id}|DELETE","summary":"Delete finance_billing_records record","description":"Delete finance_billing_records record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_records"],"security":[],"parameters":[{"name":"finance_billing_records_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/finance_billing_records/{finance_billing_records_id}|GET","summary":"Get finance_billing_records record","description":"Get finance_billing_records record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_records"],"security":[],"parameters":[{"name":"finance_billing_records_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Clients/finance_billing_records/{finance_billing_records_id}|PATCH","summary":"Edit finance_billing_records record","description":"Edit finance_billing_records record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_records"],"security":[],"parameters":[{"name":"finance_billing_records_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Clients/finance_billing_records/{finance_billing_records_id}|PUT","summary":"Update finance_billing_records record","description":"Update finance_billing_records record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_records"],"security":[],"parameters":[{"name":"finance_billing_records_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/finance_billing_records":{"get":{"operationId":"Clients/finance_billing_records|GET","summary":"Query all finance_billing_records records","description":"Query all finance_billing_records records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_records"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/finance_billing_records|POST","summary":"Add finance_billing_records record","description":"Add finance_billing_records record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_billing_records"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/finance_edits/{finance_edits_id}":{"delete":{"operationId":"Clients/finance_edits/{finance_edits_id}|DELETE","summary":"Delete finance_edits record","description":"Delete finance_edits record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_edits"],"security":[],"parameters":[{"name":"finance_edits_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/finance_edits/{finance_edits_id}|GET","summary":"Get finance_edits record","description":"Get finance_edits record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_edits"],"security":[],"parameters":[{"name":"finance_edits_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Clients/finance_edits/{finance_edits_id}|PATCH","summary":"Edit finance_edits record","description":"Edit finance_edits record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_edits"],"security":[],"parameters":[{"name":"finance_edits_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Clients/finance_edits/{finance_edits_id}|PUT","summary":"Update finance_edits record","description":"Update finance_edits record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_edits"],"security":[],"parameters":[{"name":"finance_edits_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/finance_edits":{"get":{"operationId":"Clients/finance_edits|GET","summary":"Query all finance_edits records","description":"Query all finance_edits records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_edits"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/finance_edits|POST","summary":"Add finance_edits record","description":"Add finance_edits record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_edits"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/finance_saved_views/{finance_saved_views_id}":{"delete":{"operationId":"Clients/finance_saved_views/{finance_saved_views_id}|DELETE","summary":"Delete finance_saved_views record","description":"Delete finance_saved_views record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_saved_views"],"security":[],"parameters":[{"name":"finance_saved_views_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/finance_saved_views/{finance_saved_views_id}|GET","summary":"Get finance_saved_views record","description":"Get finance_saved_views record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_saved_views"],"security":[],"parameters":[{"name":"finance_saved_views_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Clients/finance_saved_views/{finance_saved_views_id}|PATCH","summary":"Edit finance_saved_views record","description":"Edit finance_saved_views record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_saved_views"],"security":[],"parameters":[{"name":"finance_saved_views_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Clients/finance_saved_views/{finance_saved_views_id}|PUT","summary":"Update finance_saved_views record","description":"Update finance_saved_views record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_saved_views"],"security":[],"parameters":[{"name":"finance_saved_views_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/finance_saved_views":{"get":{"operationId":"Clients/finance_saved_views|GET","summary":"Query all finance_saved_views records","description":"Query all finance_saved_views records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_saved_views"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/finance_saved_views|POST","summary":"Add finance_saved_views record","description":"Add finance_saved_views record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["finance_saved_views"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:9v_k2NR8/planning_audiences/{planning_audiences_id}":{"delete":{"operationId":"Clients/planning_audiences/{planning_audiences_id}|DELETE","summary":"Delete a planning_audiences record.","description":"Delete a planning_audiences record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["planning_audiences"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"planning_audiences_id","in":"path","description":"The ID of the record to delete.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/planning_audiences/{planning_audiences_id}|GET","summary":"Get a single planning_audiences record by ID.","description":"Get a single planning_audiences record by ID.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["planning_audiences"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"planning_audiences_id","in":"path","description":"The ID of the planning audience to retrieve.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Clients/planning_audiences/{planning_audiences_id}|PATCH","summary":"Update an existing planning_audiences record.","description":"Update an existing planning_audiences record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["planning_audiences"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"planning_audiences_id","in":"path","description":"The ID of the record to update.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clients_id":{"type":"integer","format":"int64","description":"Optional updates.","nullable":true},"mba_number":{"type":"string","description":"","nullable":true},"name":{"type":"string","description":"","nullable":true},"definition_json":{"type":"object","description":"","nullable":true},"composed_wc":{"type":"number","description":"","nullable":true},"client_visible":{"type":"boolean","description":"","nullable":true},"created_by_email":{"type":"string","description":"","nullable":true}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"clients_id":{"type":"integer","format":"int64","description":"Optional updates.","nullable":true},"mba_number":{"type":"string","description":"","nullable":true},"name":{"type":"string","description":"","nullable":true},"definition_json":{"type":"object","description":"","nullable":true},"composed_wc":{"type":"number","description":"","nullable":true},"client_visible":{"type":"boolean","description":"","nullable":true},"created_by_email":{"type":"string","description":"","nullable":true}}}}}}}},"/api:9v_k2NR8/planning_audiences":{"get":{"operationId":"Clients/planning_audiences|GET","summary":"Query all planning_audiences records with optional clients_id filter.","description":"Query all planning_audiences records with optional clients_id filter.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["planning_audiences"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"clients_id","in":"query","description":"Optional filter by client ID.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/planning_audiences|POST","summary":"Create a new planning_audiences record.","description":"Create a new planning_audiences record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["planning_audiences"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clients_id":{"type":"integer","format":"int64","description":"The client ID associated with the audience."},"mba_number":{"type":"string","description":"The optional MBA number.","nullable":true},"name":{"type":"string","description":"The name of the planning audience."},"definition_json":{"type":"object","description":"The definition of the audience.","nullable":true},"composed_wc":{"type":"number","description":"The composed weight/count."},"client_visible":{"type":"boolean","description":"Whether the audience is visible to the client.","nullable":true},"created_by_email":{"type":"string","description":"The email of the creator."}},"required":["clients_id","mba_number","name","definition_json","composed_wc","client_visible","created_by_email"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"clients_id":{"type":"integer","format":"int64","description":"The client ID associated with the audience."},"mba_number":{"type":"string","description":"The optional MBA number.","nullable":true},"name":{"type":"string","description":"The name of the planning audience."},"definition_json":{"type":"object","description":"The definition of the audience.","nullable":true},"composed_wc":{"type":"number","description":"The composed weight/count."},"client_visible":{"type":"boolean","description":"Whether the audience is visible to the client.","nullable":true},"created_by_email":{"type":"string","description":"The email of the creator."}},"required":["clients_id","mba_number","name","definition_json","composed_wc","client_visible","created_by_email"]}}}}}},"/api:9v_k2NR8/revenue_forecast_lines/{revenue_forecast_lines_id}":{"delete":{"operationId":"Clients/revenue_forecast_lines/{revenue_forecast_lines_id}|DELETE","summary":"Delete a revenue_forecast_lines record.","description":"Delete a revenue_forecast_lines record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["revenue_forecast_lines"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"revenue_forecast_lines_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/revenue_forecast_lines/{revenue_forecast_lines_id}|GET","summary":"Get a single revenue_forecast_lines record by ID.","description":"Get a single revenue_forecast_lines record by ID.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["revenue_forecast_lines"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"revenue_forecast_lines_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Clients/revenue_forecast_lines/{revenue_forecast_lines_id}|PUT","summary":"Update an existing revenue_forecast_lines record.","description":"Update an existing revenue_forecast_lines record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["revenue_forecast_lines"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"revenue_forecast_lines_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clients_id":{"type":"integer","format":"int64","description":"","nullable":true},"fy":{"type":"string","description":"","nullable":true},"line_key":{"type":"string","description":"","nullable":true},"month":{"type":"string","description":"","nullable":true},"amount":{"type":"number","description":"","nullable":true}},"required":["clients_id","fy","line_key","month","amount"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"clients_id":{"type":"integer","format":"int64","description":"","nullable":true},"fy":{"type":"string","description":"","nullable":true},"line_key":{"type":"string","description":"","nullable":true},"month":{"type":"string","description":"","nullable":true},"amount":{"type":"number","description":"","nullable":true}},"required":["clients_id","fy","line_key","month","amount"]}}}}}},"/api:9v_k2NR8/revenue_forecast_lines":{"get":{"operationId":"Clients/revenue_forecast_lines|GET","summary":"Get revenue_forecast_lines records with optional filters.","description":"Get revenue_forecast_lines records with optional filters.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["revenue_forecast_lines"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"clients_id","in":"query","description":"Filter by client ID.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fy","in":"query","description":"Filter by financial year (e.g. \u0027FY27\u0027).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/revenue_forecast_lines|POST","summary":"Create a new revenue_forecast_lines record.","description":"Create a new revenue_forecast_lines record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["revenue_forecast_lines"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clients_id":{"type":"integer","format":"int64","description":""},"fy":{"type":"string","description":""},"line_key":{"type":"string","description":""},"month":{"type":"string","description":""},"amount":{"type":"number","description":""}},"required":["clients_id","fy","line_key","month","amount"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"clients_id":{"type":"integer","format":"int64","description":""},"fy":{"type":"string","description":""},"line_key":{"type":"string","description":""},"month":{"type":"string","description":""},"amount":{"type":"number","description":""}},"required":["clients_id","fy","line_key","month","amount"]}}}}}},"/api:9v_k2NR8/revenue_line_catalog/{revenue_line_catalog_id}":{"delete":{"operationId":"Clients/revenue_line_catalog/{revenue_line_catalog_id}|DELETE","summary":"Delete a revenue_line_catalog record.","description":"Delete a revenue_line_catalog record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["revenue_line_catalog"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"revenue_line_catalog_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Clients/revenue_line_catalog/{revenue_line_catalog_id}|GET","summary":"Get a single revenue_line_catalog record by ID.","description":"Get a single revenue_line_catalog record by ID.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["revenue_line_catalog"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"revenue_line_catalog_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"operationId":"Clients/revenue_line_catalog/{revenue_line_catalog_id}|PUT","summary":"Update an existing revenue_line_catalog record.","description":"Update an existing revenue_line_catalog record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["revenue_line_catalog"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"revenue_line_catalog_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"line_key":{"type":"string","description":"","nullable":true},"label":{"type":"string","description":"","nullable":true},"fee_pct":{"type":"number","description":"","nullable":true},"booked_mapping":{"type":"object","description":"","nullable":true},"sort_order":{"type":"integer","format":"int64","description":"","nullable":true},"active":{"type":"boolean","description":"","nullable":true}},"required":["line_key","label","fee_pct","booked_mapping","sort_order","active"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"line_key":{"type":"string","description":"","nullable":true},"label":{"type":"string","description":"","nullable":true},"fee_pct":{"type":"number","description":"","nullable":true},"booked_mapping":{"type":"object","description":"","nullable":true},"sort_order":{"type":"integer","format":"int64","description":"","nullable":true},"active":{"type":"boolean","description":"","nullable":true}},"required":["line_key","label","fee_pct","booked_mapping","sort_order","active"]}}}}}},"/api:9v_k2NR8/revenue_line_catalog":{"get":{"operationId":"Clients/revenue_line_catalog|GET","summary":"Get all revenue_line_catalog records.","description":"Get all revenue_line_catalog records.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["revenue_line_catalog"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"active","in":"query","description":"Optional filter by active status.","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Clients/revenue_line_catalog|POST","summary":"Create a new revenue_line_catalog record.","description":"Create a new revenue_line_catalog record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["revenue_line_catalog"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"line_key":{"type":"string","description":""},"label":{"type":"string","description":""},"fee_pct":{"type":"number","description":"","nullable":true},"booked_mapping":{"type":"object","description":"","nullable":true},"sort_order":{"type":"integer","format":"int64","description":""},"active":{"type":"boolean","description":"","default":"1"}},"required":["line_key","label","fee_pct","booked_mapping","sort_order"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"line_key":{"type":"string","description":""},"label":{"type":"string","description":""},"fee_pct":{"type":"number","description":"","nullable":true},"booked_mapping":{"type":"object","description":"","nullable":true},"sort_order":{"type":"integer","format":"int64","description":""},"active":{"type":"boolean","description":"","default":"1"}},"required":["line_key","label","fee_pct","booked_mapping","sort_order"]}}}}}},"/api:qDBX2hni/edit_clientdashboard/{clientdashboard_id}":{"put":{"operationId":"client_dashboards/edit_clientdashboard/{clientdashboard_id}|PUT","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["edit_clientdashboard"],"security":[],"parameters":[{"name":"clientdashboard_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:qDBX2hni/get_clientdashboard":{"get":{"operationId":"client_dashboards/get_clientdashboard|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["get_clientdashboard"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:qDBX2hni/post_clientdashboard":{"post":{"operationId":"client_dashboards/post_clientdashboard|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["post_clientdashboard"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:di-s-JRc/POST_magazines_adsizes":{"post":{"operationId":"media details/POST_magazines_adsizes|POST","summary":"Add magazines_adsizes record","description":"Add magazines_adsizes record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["POST_magazines_adsizes"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:di-s-JRc/POST_magazines":{"post":{"operationId":"media details/POST_magazines|POST","summary":"Add magazines record","description":"Add magazines record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["POST_magazines"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:di-s-JRc/POST_newspaper_adsizes":{"post":{"operationId":"media details/POST_newspaper_adsizes|POST","summary":"Add newspaper_adsizes record","description":"Add newspaper_adsizes record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["POST_newspaper_adsizes"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:di-s-JRc/POST_newspapers":{"post":{"operationId":"media details/POST_newspapers|POST","summary":"Add newspapers record","description":"Add newspapers record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["POST_newspapers"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:di-s-JRc/POST_radio_stations":{"post":{"operationId":"media details/POST_radio_stations|POST","summary":"Add radio_stations record","description":"Add radio_stations record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["POST_radio_stations"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:di-s-JRc/POST_tv_stations":{"post":{"operationId":"media details/POST_tv_stations|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["POST_tv_stations"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:di-s-JRc/audio_site/{audio_site_id}":{"delete":{"operationId":"media details/audio_site/{audio_site_id}|DELETE","summary":"Delete audio_site record.","description":"Delete audio_site record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["audio_site"],"security":[],"parameters":[{"name":"audio_site_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"media details/audio_site/{audio_site_id}|GET","summary":"Get audio_site record","description":"Get audio_site record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["audio_site"],"security":[],"parameters":[{"name":"audio_site_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"media details/audio_site/{audio_site_id}|PATCH","summary":"Edit audio_site record","description":"Edit audio_site record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["audio_site"],"security":[],"parameters":[{"name":"audio_site_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/api:di-s-JRc/audio_site":{"get":{"operationId":"media details/audio_site|GET","summary":"Query all audio_site records","description":"Query all audio_site records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["audio_site"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"40
[...]
